/* Styling for Error page */

#kc-error-message {
  width: 100%;
}

#kc-error-message .instruction {
  color: var(--kc-text-primary);
}

#backToApplication {
  background-color: var(--kc-primary);
  color: var(--kc-box-background);
}
